* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

/* nav style start */
.nav-full-background {
    background-color: #FFFFFF;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 35px;
    align-items: center;
    font-size: large;

}

ul li a {
    text-decoration: none;
    color: #575757;
}

/* register button style */
.register-btn {
    border-radius: 10px;
    color: white;
    background-color: #1D4ED8;
    padding: 15px 35px;
    font-size: larger;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* nav style end */

/* hero section style */
.hero-section {
    background-image: url('./images/banner.jpg');
    position: relative;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    color: #FFFFFF;
    z-index: 2;
    max-width: 600px;
    font-size: large;
}

.hero-content h1 {
    font-size: 64px;
    margin-bottom: 30px;
}

.hero-content p {
    margin-bottom: 450px;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

/* speakers part start */
.speakers-section {
    display: grid;
    text-align: left;
    padding: 80px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
}

.speakers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.speakers-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
}

.speaker-img img {
    object-fit: cover;

}

.speaker-tag {
    color: #2563EB;
    font-size: 12px;
    padding: 10px 10px;
    font-weight: bold;
}

.speaker-name {
    padding: 4px 10px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.speaker-title {
    padding: 4px 10px;
    padding-bottom: 24px;
}

/* speakers part end */

/* price card start */

.price-title {
    text-align: center;
    padding: 10px;
}

.price-title h1 {
    font-size: 55px;
    padding: 20px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 40px;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style-position: inside;
}

.dot-list li::marker {
    color: #2563EB;
}

.first-card {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    padding: 30px;

}

.first-card h1,
.second-card h1,
.third-card h1 {
    padding-top: 8px;
    padding-bottom: 4px;
}

.horizon {
    margin-bottom: 18px;
}

.first-card li,
.second-card li,
.third-card li {
    padding: 4px;
}

.people {
    font-weight: 200;
    padding-bottom: 20px;
}

.first-card-btn {
    width: 100%;
    background-color: transparent;
    color: #2563EB;
    border: 1px solid#2563EB;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 50px;
}

.second-card {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    background-color: #0D1B2A;
    color: white;
    padding: 30px;
}

.second-card-btn {
    width: 100%;
    background-color: #2563EB;
    color: white;
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    font-weight: 600;
    margin-top: 50px;
}

.pro {
    color: #93C5FD;
}

.third-card {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 30px;
}

.third-card-btn {
    width: 100%;
    background-color: #f0f0f0;
    color: black;
    border-radius: 10px;
    padding: 12px 24px;
    font-weight: 600;
    margin-top: 50px;
}

/* price card end */

/* missing part start */
.hackathon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-content {
    text-align: center;
    padding: 30px;
    gap: 20px;
}

.title-content h1 {
    padding-top: 15px;
    padding-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 24px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.card h3 {
    margin-top: 10px;
    font-size: 1.4rem;
}

.card p {
    color: #6b7280;
    margin-top: 30px;
    margin-bottom: 30px;
}

.price {
    font-size: 1.5rem;
}

.quote-container {
    background-color: #0D1B2A;
    color: white;
    padding: 50px 115px;
    border-radius: 20px;
    text-align: center;
}

.quote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 20px;
}

.subtext {
  color: #a0a0a0;
  margin-bottom: 30px;
}

.waitlist-btn {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.waitlist-btn:hover {
  background-color: #4338ca;
}
