* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.nav-full-background {
    background-color: #FFFFFF;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 35px;
    align-items: center;
    font-size: large;

}

ul li a {
    text-decoration: none;
    color: #575757;
}

.register-btn {
    border-radius: 10px;
    color: white;
    background-color: #1D4ED8;
    padding: 15px 35px;
    font-size: larger;
    font-style: bold;
    border: none;
}
